<!-- Cabeçalho padrão-->
<header>
	<h1 class="logo-texto">SPACEART</h1>
	<form id="pesquisa-form"action="/results" method="get">
		<input id="pesquisa" class="box" type="pesquisa" name="pesquisa" placeholder="Artista, tipo de arte ou localidade">
	</form>
</header>
