/* Importação da fonte inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
/* Importação da fonte roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

:root {
	--highlight_color: #F59235;
	--first_light_color: #F4F4F4;
	--second_light_color: #FAFAFA;
	--dark__color: #282828;
	--default_margin: 1rem auto;
	--default_padding: 1rem .5rem;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Inter', 'Roboto',Verdana, sans-serif;
	color: var(--dark__color);
	text-decoration: none;
}

h1, h2, h3{
	text-transform: capitalize;
}

body {
	width: 100%; 
	background-color: var(--first_light_color);
}

body>*{
	margin: .5rem .5rem;
	padding:var(--default_padding);
}

.logo-texto{
	text-align: center;
	letter-spacing: .5rem; 
	color: var(--highlight_color);
}

.box{
	margin: var(--default_margin);
	background-color: transparent;
	border: none;
	box-sizing: border-box;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
	border-radius: .25rem;
}

.title{
	margin: var(--default_margin);
}

.table{
	width: 90%;
	list-style-type: none;
	padding: var(--default_padding);
	display: flex;
	flex-direction: column;	
}
.table tr{
	display: grid;
	grid-template-columns: 1fr 3fr;
	width: 100%;
}
.table th{
	font-weight: 700;
	width: 80px;
}
.table tr *{
	padding: .5rem;
	
	align-self: center;
	justify-self: left;
}

.picture-user{
	border-radius: 50%; 
}


input, button{
	padding: .5rem;
	outline: none;
	box-shadow: none;
}
#pesquisa-form{
 	display: flex;
 	justify-content: center;
}
 
 #pesquisa{
 	margin: var(--default_margin);
 	width: 70%;
 }
.wrapper{
	margin: 1rem;
}

.window-shape-section {
	display:grid;
	grid-template-columns: 1fr 1fr;
	margin: var(--default_margin);
}

.window-shape-anchor {
	width: 90%;
	max-width: 90%;
	min-height: 0vh;
	padding:  7vh .5rem;
	margin: var(--default_margin);
	box-sizing: border-box;
	text-align: center;
}
.window-shape-anchor * {
	margin: .5rem auto;
}
.icon{
	margin:  0 1rem;
	height: 100%;
	max-height: 70px;
}

.window-shape-anchor .icon, .landscape-shape-anchor .icon{
	max-width: 60%;
	height: 50px;
}

.window-shape-anchor h3{
	text-align: center;
}

.landscape-shape-anchor{
	width: 95%;
	display: flex;
	align-items: center;
	margin: var(--default_margin);
	padding:  1rem;
	box-sizing: border-box;
}

nav{
	margin: 0;
	height: 6vh;
	position: fixed;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: .5rem;
	box-sizing: border-box;
	box-shadow: 0px -1px 20px rgba(0, 0, 0, 0.25);
	border-radius:  .5rem .5rem 0 0;
	
	background-color: var(--second_light_color)
}
.nav-button{
	height: 60%;
	max-width: 20%;
	margin: 0 .825rem;
	background-color: transparent;
	border: none;
}
.header-button{
	max-height: 50px;
	background-color: transparent;
	border: none;
}
.header-button .icon{
	height: 100%;
	max-width: 25px;
	margin: 0;
}

@media screen and (max-width:280px){
	h1{
		font-size: 1rem;
	}
	h2{
		font-size: .85rem;
	}
	h3{
		font-size: .65rem;
	}
	
	.window-shape-section{
		grid-template-columns: 1fr;
		margin: 0;
	}
	.window-shape-anchor{
		margin: 1rem auto;
		width: 95%;
		max-width: 95%;
		display: flex;
		align-items: center;
		padding:  1rem;

	}
	.window-shape-anchor .icon, .landscape-shape-anchor .icon{
		height: 30px;
	}
	.window-shape-anchor h3, .landscape-shape-anchor h3{
		margin: 0;
	}
}


@media screen and (min-width:768px){
	.window-shape-anchor{
		width: 80%;
		padding: 1.5rem;
	}
	.landscape-shape-anchor{
		width: 90%;
		padding:  1.5rem;
	}
	nav, #void{
		height: 8.5vh;
	}
}

