body{
	background-color: #252f31;
}

.wrapper {
	margin: 0;
	padding: 0;
}

.wrapper *{
	margin: 0 auto;
}

main{
	margin: 1rem;
	width: 85%;
	overflow-x: hidden;
	position: absolute;
	top: .5rem;
	bottom: .5rem;
	left: .5rem;
	right: .5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

#logo{
	width: 100%;
	max-height: 20vh;
}

main header, #login{
	width: 100%;
	z-index: 1; 
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	justify-content: center;
}

#bg-image{
	height: 100vh;
	object-fit: cover;
	max-width: 100%;
	position: fixed;
	filter: blur(5px);
}

#login{
	margin-top: 10vh;
	width: 100%;
	max-width: 400px;
}

#login span{
	color: var(--first_light_color);
	margin:  0 auto;
	padding: 5px 0;
	font-weight: 600;
}

.box{
	height: 53px;
}

#login  input{
	width: 100%;
	padding-left: 50px;
	background-color: var(--first_light_color);
	
}
#login  input::placeholder{
	color: var(--dark__color);
}

#login  button{
	width:100%;
	color: var(--first_light_color);
	font-weight: 600;
	background-color: transparent;
	border: 2px solid var(--first_light_color);
}

.erro{
	color: red;
	font-size: .75rem;
}

@media screen and (min-width:1024px){
	#bg-image{
		left: .5rem;
		right: .5rem;
	}
}
