@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Roboto:wght@100;300;500;700&display=swap');

:root {

	--color_clara_principal: #F4F4F4;
	--color_clara_secundaria: #FAFAFA;
	--color_escura_principal: #282828;
	--color_escura_secundaria: #282828;
	--margin_padrao: 1rem auto;
	--padding_padrao: 1rem .5rem;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Inter', Open sans;
	color: var(--color_escura_principal);
}

h1, h2, h3{
	text-transform: capitalize;
}
	
body {
	width: 100%; 
	background-color: var(--color_clara_principal);
}

body>*{
	margin: 1rem .5rem;
	padding:var(--padding_padrao);
}

.logo-texto{
	text-align: center;
	letter-spacing: .5rem; 
	color: var(--color_destaque);
}

.box{
	margin: var(--margin_padrao);
	background-color: transparent;
	border: 1px solid var(--color_escura_principal);
	box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.55);
	border-radius: .5rem;
}

.title{
	margin: var(--margin_padrao);
	filter: drop-shadow(0px 4px 4px #00000040);
}

input, button{
	padding: .5rem;
	outline: none;
	box-shadow: none;
}
 #pesquisa-form{
 	display: flex;
 	justify-content: center;
 }
 
 #pesquisa{
 	margin: var(--margin_padrao);
 }

.janela {
	display:grid;
	grid-template-columns: 1fr 1fr;
	margin: var(--margin_padrao);
}

.botao-janela {
	width: 90%;
	max-width:90%;
	padding:  1rem;
	margin: var(--margin_padrao);
	box-sizing: border-box;
}
.botao-janela * {
	margin: .5rem auto;
}
.icon{
	margin:  .5rem 1rem;
}

.botao-janela .icon{
	max-width: 60%;
	height: 100px;
}
.botao-janela h3{
	text-align: center;
	font-size: 1rem;
	text-overflow: ellipsis;
}

.botao-panorama{
	width: 95%;
	display: flex;
	align-items: center;
	margin: var(--margin_padrao);
	padding:  1rem;
	box-sizing: border-box;
}

#span{
	height: 10vh;
}

nav{
	margin: 0;
	height: 6vh;
	position: fixed;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: .5rem;
	border-top: 1px solid var(--color_escura_principal);
	background-color: var(--color_clara_principal)
}
nav button{
	height: 80%;
	max-width: 20%;
	margin: 0 .825rem;
	background-color: transparent;
	border: none;
}

@media screen and (min-width:768px){
	.botao-janela{
		width: 80%;
		padding: 1.5rem;
	}
	.botao-panorama{
		width: 90%;
		padding:  1.5rem;
	}
	nav, #void{
		height: 8.5vh;
	}
}

