<footer>
  <div class="contact">
    <div class="contact-span">
      <span>Contato</span>
      <span>(71) 93456-7890</span>
    </div>
    <div class="contact-span">
      <span>Email</span>
      <span>spaceart@hotmail.com</span>
    </div>
    <div class="contact-icon">
      <i class="fa-brands fa-instagram" style="color: #fff"></i>
      <i class="fa-brands fa-linkedin" style="color: #fff"></i>
      <i class="fa-brands fa-facebook" style="color: #fff"></i>
    </div>
  </div>
  <div class="copyright">
    <span>© • Spaceart • Todos os direitos reservados</span>
  </div>
</footer>