<!-- Navbar padrão-->
<nav>
	<a href="/home" class="nav-button" type="button">
			<img class="nav-icon icon" src="/img/icons/casa.png" alt="home">
	</a>
	<a href="/negocios" class="nav-button" type="button">
		<img class="nav-icon icon" src="/img/icons/maleta.png" alt="Negócios">
	</a>
	<a href="/home" class="nav-button" type="button">
		<img class="nav-icon icon" src="/img/icons/notificacao.png" alt="Notificações">
	</a>
</nav>
