@import url("https://fonts.googleapis.com/css2?family=Inter&family=Quicksand:wght@300&family=Roboto&display=swap");

* {
  font-family: "Quicksand", sans-serif;
}
a{
  text-decoration: none;
  color: #000;
}

html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding-top: 5rem;
  background-color: #fcfcfc;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Inter" -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #8c8c8c;
  border-radius: 20px;
}

*::-webkit-scrollbar-track {
  background-color: #fff;
}
